@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
    font-family: lobster;
    src: url(fonts/lobster_1_4.otf);
     
}
@font-face {
	font-family: bebasneue;
	src: url(fonts/bebasneue.ttf);
}
.img_responsive {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
*{
	box-sizing: border-box;
}
body {
	font-family: bebasneue, Arial, sans-serif;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.header {
	padding: 15px 11.8%;
	text-align: center;
}
.header p {
	float: left;
	font: 49px lobster, Arial, sans-serif;
	color: #3cc3b5;
	line-height: 50px;
}
.header div.center {
	display: inline-block;
	line-height: 50px;
}
.header div.center input[type="search"] {
	width: 435px;
	height: 32px;
	padding: 5px 35px 5px 5px;
	border: 1px solid #e1e1e1;
	background: url('../img/search.png');
	background-repeat: no-repeat;
	background-position: 403px center;
}
.header div.basket {
	float: right;
	height: 50px;
	font-size: 33px;
	color: #bdbdbd;
}
.header div.basket img {
	padding-right: 7px;
}
div.main_menu {
	position: relative;
	padding: 10px 11.8%;
	background-color: #4ccfc1;
	text-align: center;
	-webkit-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
}
div.main_menu ul {
	display: inline-block;
}
div.main_menu ul li {
	display: inline-block;
	padding: 0 17px;
	border-left: 2px solid white;
	font-size: 21px;
	color: white;
	text-align: center;
	text-transform: uppercase;
}
div.main_menu ul li a {
	color: white;
	text-decoration: none;
}
div.main_menu ul li:first-child {
	padding-left: 0;
	border-left: none;
}
div.main_menu ul li:last-child {
	padding-right: 0;
}
.slider_top_container {
	position: relative;
	padding: 62px 11.8% 55px;
	background-color: #3bc7b0;
}
.slider_top_container .slider_top_content {
	margin: 0 auto;
	max-width: 98%;
}
.slider_top_container .slider_top_content .slider_top_image {
	float: left;
	width: 38%;
}
.slider_top_container .slider_top_content .slider_top_image img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.slider_top_container .slider_top_content .slider_top_description {
	float: left;
	margin-left: 6.5%;
	width: 43%;
}
.slider_top_container .slider_top_content .slider_top_description h2 {
	font-size: 61px;
	color: white;
	margin-top: 10px;
	margin-bottom: 3px;
}
.slider_top_container .slider_top_content .slider_top_description p {
	font: 17px "Open Sans", Arial, sans-serif;
	color: white;
	margin-bottom: 35px;
}
.slider_top_container .slider_top_content .slider_top_description button {
	padding: 6px 23px 3px;
	background-color: #3bc7b0;
	border: 3px solid white;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	font: 27px bebasneue;
	text-transform: uppercase;
	color: white;
}
.slider_top_container .slider_top_controls {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 25px;
}
.slider_top_container .slider_top_controls span {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: white;
	cursor: pointer;
}
.slider_top_container .slider_top_controls span:hover {
	background-color: #7bd5c9;
}
.slider_second_container {
	position: relative;
	padding: 0 11.8%;
	height: 190px;
	-webkit-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
}
.slider_second_container .slider_second_controls {
	position: absolute;
	height: 190px;
	width: 29px;
	top: 0;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.slider_one,
.slider_two,
.slider_three {
	display: block;
	float:left;
	width: 33%;
	height: 100%;
	padding: 0;
	border-right: 1px solid #e7e7e7;
}
.slider_three {
	border-right: none;
}
.slider_one_img,
.slider_two_img,
.slider_three_img {
	display: block;
	float: left;
	width: 60%;
	margin: 5% 0;
}
.slider_one_img img,
.slider_two_img img,
.slider_three_img img {
	margin-top: 10%;
	max-width: 100%;
	max-height: 100%;
}
.slider_three_img img {
	margin-left: 20%;
}
.slider_two_img img {
	margin-left: 10%;
}
.slider_top_column {
	display: block;
	float: left;
	width: 40%;
}
.slider_top_column h2,
.product_container h2,
.product_container p {
	padding: 50px 0 10px;
	font: 27px bebasneue;
	font-weight: bold;
	color: #afafaf;
}
.slider_top_column button,
.product_container button {
	padding: 6px 23px 3px;
	background-color: #3bc7b0;
	border-radius: 7px;
	font: 25px bebasneue;
	border: none;
	color: white;
}
.product_container h2,
.product_container p {
	padding: 0;
	color: #afafaf;
	line-height: 40px;
	text-align: center;
}
.product_container button {

}

.slider_second_container .slider_second_controls.left_arrow {
	left: 3%;
	background-image: url('../img/shape_left.png');
}
.slider_second_container .slider_second_controls.right_arrow {
	right: 3%;
	background-image: url('../img/shape_right.png');
}
.featured_products_header {
	padding: 0 11.8%;
	height: 67px;
	background-color: #3bc4b8;
}
.featured_products_header h2 {
	padding-top: 3px;
	font-size: 31px;
	line-height: 64px;
	text-transform: uppercase;
	color: white;
	margin-left: 3.5%;
}
.featured_products {
	padding: 46px 15% 75px;
	height: 687px;
}
.product {
	float: left;
	width: 33%;
	height: 290px;
	padding: 3%;
}
.product_container {
	height: 100%;
	box-shadow:
		0 0 0 1px #e4e4e4,
		0 0 0 2px #f6f6f6;
	border-bottom: 4px solid #3cc395;
}
.product_img {
	padding: 10px 5px 0 5px;
}
.product_img img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}

.bottom_links {
	padding: 40px 11.8% 27px;
	background-color: #3cc3b5;
}
.bottom_links .bottom_links_column {
	float: left;
	width: 25%;
	padding-left: 3%;
}
.bottom_links .bottom_links_column h3 {
	font-size: 27px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 12px;
}
.bottom_links .bottom_links_column ul li {
	margin-bottom: 7px;
}
.bottom_links .bottom_links_column ul li a {
	font: 15px "Open Sans", Arial, sans-serif;
	color: white;
	text-decoration: none;
}
footer {
	height: 45px;
	background-color: #2da89b;
}
footer p {
	font: 15px "Open Sans", Arial, sans-serif;
	line-height: 45px;
	color: white;
	text-align: center;
}


